@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}

.tag-a {
  text-decoration: none
}

.container{
  background-color: #65647C;
}

.title-web{
  color: #E8F3D6;
  padding-top:50px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.card {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.btn {
  margin-top: 10px;
  background-color: #8B7E74;
  border: none;
}
